@media only screen and (max-width: 10240px) {
    html.fallback .section-experience .static-image-connect,
    html.no-js .section-experience .static-image-connect {
        background-image: url("/in/airpods-pro/images/overview/static_magical_connect__c1gv5mgtm84m_large.jpg");
    }
}

@media only screen and (max-width: 10240px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 10240px) and (min-resolution: 1.5dppx),
only screen and (max-width: 10240px) and (min-resolution: 144dpi) {
    html.fallback .section-experience .static-image-connect,
    html.no-js .section-experience .static-image-connect {
        background-image: url("/in/airpods-pro/images/overview/static_magical_connect__c1gv5mgtm84m_large_2x.jpg");
    }
}

@media only screen and (max-width: 1023px) {
    html.fallback .section-experience .static-image-connect,
    html.no-js .section-experience .static-image-connect {
        background-image: url("/in/airpods-pro/images/overview/static_magical_connect__c1gv5mgtm84m_medium.jpg");
    }
}

@media only screen and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1023px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1023px) and (min-resolution: 144dpi) {
    html.fallback .section-experience .static-image-connect,
    html.no-js .section-experience .static-image-connect {
        background-image: url("/in/airpods-pro/images/overview/static_magical_connect__c1gv5mgtm84m_medium_2x.jpg");
    }
}

@media only screen and (max-width: 734px) {
    html.fallback .section-experience .static-image-connect,
    html.no-js .section-experience .static-image-connect {
        background-image: url("/in/airpods-pro/images/overview/static_magical_connect__c1gv5mgtm84m_small.jpg");
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    html.fallback .section-experience .static-image-connect,
    html.no-js .section-experience .static-image-connect {
        background-image: url("/in/airpods-pro/images/overview/static_magical_connect__c1gv5mgtm84m_small_2x.jpg");
    }
}

@media only screen and (max-width: 10240px) {
    html.fallback .section-experience .static-image-switching,
    html.no-js .section-experience .static-image-switching {
        background-image: url("/in/airpods-pro/images/overview/static_magical_switching__zefgf50tsn6y_large.jpg");
    }
}

@media only screen and (max-width: 10240px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 10240px) and (min-resolution: 1.5dppx),
only screen and (max-width: 10240px) and (min-resolution: 144dpi) {
    html.fallback .section-experience .static-image-switching,
    html.no-js .section-experience .static-image-switching {
        background-image: url("/in/airpods-pro/images/overview/static_magical_switching__zefgf50tsn6y_large_2x.jpg");
    }
}

@media only screen and (max-width: 1023px) {
    html.fallback .section-experience .static-image-switching,
    html.no-js .section-experience .static-image-switching {
        background-image: url("/in/airpods-pro/images/overview/static_magical_switching__zefgf50tsn6y_medium.jpg");
    }
}

@media only screen and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1023px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1023px) and (min-resolution: 144dpi) {
    html.fallback .section-experience .static-image-switching,
    html.no-js .section-experience .static-image-switching {
        background-image: url("/in/airpods-pro/images/overview/static_magical_switching__zefgf50tsn6y_medium_2x.jpg");
    }
}

@media only screen and (max-width: 734px) {
    html.fallback .section-experience .static-image-switching,
    html.no-js .section-experience .static-image-switching {
        background-image: url("/in/airpods-pro/images/overview/static_magical_switching__zefgf50tsn6y_small.jpg");
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    html.fallback .section-experience .static-image-switching,
    html.no-js .section-experience .static-image-switching {
        background-image: url("/in/airpods-pro/images/overview/static_magical_switching__zefgf50tsn6y_small_2x.jpg");
    }
}

@media only screen and (max-width: 10240px) {
    html.fallback .section-experience .static-image-siri,
    html.no-js .section-experience .static-image-siri {
        background-repeat: no-repeat;
        background-image: url("/in/airpods-pro/images/overview/static_magical_siri__8gu2vflcx4iy_large.jpg");
        background-size: cover;
    }
}

@media only screen and (max-width: 10240px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 10240px) and (min-resolution: 1.5dppx),
only screen and (max-width: 10240px) and (min-resolution: 144dpi) {
    html.fallback .section-experience .static-image-siri,
    html.no-js .section-experience .static-image-siri {
        background-image: url("/in/airpods-pro/images/overview/static_magical_siri__8gu2vflcx4iy_large_2x.jpg");
    }
}

@media only screen and (max-width: 1023px) {
    html.fallback .section-experience .static-image-siri,
    html.no-js .section-experience .static-image-siri {
        background-image: url("/in/airpods-pro/images/overview/static_magical_siri__8gu2vflcx4iy_medium.jpg");
    }
}

@media only screen and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1023px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1023px) and (min-resolution: 144dpi) {
    html.fallback .section-experience .static-image-siri,
    html.no-js .section-experience .static-image-siri {
        background-image: url("/in/airpods-pro/images/overview/static_magical_siri__8gu2vflcx4iy_medium_2x.jpg");
    }
}

@media only screen and (max-width: 734px) {
    html.fallback .section-experience .static-image-siri,
    html.no-js .section-experience .static-image-siri {
        background-image: url("/in/airpods-pro/images/overview/static_magical_siri__8gu2vflcx4iy_small.jpg");
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    html.fallback .section-experience .static-image-siri,
    html.no-js .section-experience .static-image-siri {
        background-image: url("/in/airpods-pro/images/overview/static_magical_siri__8gu2vflcx4iy_small_2x.jpg");
    }
}

@media only screen and (max-width: 10240px) {
    html.fallback .section-experience .static-image-share,
    html.no-js .section-experience .static-image-share {
        background-image: url("/in/airpods-pro/images/overview/static_magical_share__o7miz0vavt66_large.jpg");
    }
}

@media only screen and (max-width: 10240px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 10240px) and (min-resolution: 1.5dppx),
only screen and (max-width: 10240px) and (min-resolution: 144dpi) {
    html.fallback .section-experience .static-image-share,
    html.no-js .section-experience .static-image-share {
        background-image: url("/in/airpods-pro/images/overview/static_magical_share__o7miz0vavt66_large_2x.jpg");
    }
}

@media only screen and (max-width: 1023px) {
    html.fallback .section-experience .static-image-share,
    html.no-js .section-experience .static-image-share {
        background-image: url("/in/airpods-pro/images/overview/static_magical_share__o7miz0vavt66_medium.jpg");
    }
}

@media only screen and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1023px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1023px) and (min-resolution: 144dpi) {
    html.fallback .section-experience .static-image-share,
    html.no-js .section-experience .static-image-share {
        background-image: url("/in/airpods-pro/images/overview/static_magical_share__o7miz0vavt66_medium_2x.jpg");
    }
}

@media only screen and (max-width: 734px) {
    html.fallback .section-experience .static-image-share,
    html.no-js .section-experience .static-image-share {
        background-image: url("/in/airpods-pro/images/overview/static_magical_share__o7miz0vavt66_small.jpg");
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    html.fallback .section-experience .static-image-share,
    html.no-js .section-experience .static-image-share {
        background-image: url("/in/airpods-pro/images/overview/static_magical_share__o7miz0vavt66_small_2x.jpg");
    }
}

@media only screen and (min-width: 1024px) and (max-width: 10240px) {
    .section-engraving.pro-engraving .typography-router-tagline {
        width: 345px;
    }
}

@media only screen and (max-width: 1023px) {
    .section-engraving.pro-engraving .typography-router-tagline {
        width: 295px;
    }
}

@media only screen and (max-width: 734px) {
    .section-engraving.pro-engraving .typography-router-tagline {
        width: 306px;
    }
}

@media only screen and (max-width: 10240px) {
    .section-engraving.pro-engraving .image-wrapper .image-engraving {
        width: 790px;
        height: 357px;
        background-size: 790px 357px;
        background-repeat: no-repeat;
        background-image: url("/in/airpods-pro/images/overview/buy_router_pro__fp2oi3acjjue_large.jpg");
    }
}

@media only screen and (max-width: 10240px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 10240px) and (min-resolution: 1.5dppx),
only screen and (max-width: 10240px) and (min-resolution: 144dpi) {
    .section-engraving.pro-engraving .image-wrapper .image-engraving {
        background-image: url("/in/airpods-pro/images/overview/buy_router_pro__fp2oi3acjjue_large_2x.jpg");
    }
}

@media only screen and (max-width: 1023px) {
    .section-engraving.pro-engraving .image-wrapper .image-engraving {
        width: 750px;
        height: 275px;
        background-size: 750px 275px;
        background-repeat: no-repeat;
        background-image: url("/in/airpods-pro/images/overview/buy_router_pro__fp2oi3acjjue_medium.jpg");
    }
}

@media only screen and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1023px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1023px) and (min-resolution: 144dpi) {
    .section-engraving.pro-engraving .image-wrapper .image-engraving {
        background-image: url("/in/airpods-pro/images/overview/buy_router_pro__fp2oi3acjjue_medium_2x.jpg");
    }
}

@media only screen and (max-width: 734px) {
    .section-engraving.pro-engraving .image-wrapper .image-engraving {
        width: 734px;
        height: 277px;
        background-size: 734px 277px;
        background-repeat: no-repeat;
        background-image: url("/in/airpods-pro/images/overview/buy_router_pro__fp2oi3acjjue_small.jpg");
        background-position-y: -15px;
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-engraving.pro-engraving .image-wrapper .image-engraving {
        background-image: url("/in/airpods-pro/images/overview/buy_router_pro__fp2oi3acjjue_small_2x.jpg");
    }
}

@media only screen and (max-width: 10240px) {
    .section-engraving.pro-engraving .image-wrapper .image-engraving {
        margin-left: 0;
    }
}

@media only screen and (max-width: 1023px) {
    .section-engraving.pro-engraving .image-wrapper .image-engraving {
        margin-left: -71px;
    }
}

@media only screen and (max-width: 734px) {
    .section-engraving.pro-engraving .image-wrapper .image-engraving {
        margin-left: 0;
    }
    .section-engraving .section-content {
        padding-bottom: 0px;
    }
}

@media only screen and (max-width: 10240px) {
    .section-experience .image-screen-switching {
        background-image: url("/in/airpods-pro/images/overview/simplicity_switching_screen__fnmqcxavcsae_large.jpg");
    }
}

@media only screen and (max-width: 10240px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 10240px) and (min-resolution: 1.5dppx),
only screen and (max-width: 10240px) and (min-resolution: 144dpi) {
    .section-experience .image-screen-switching {
        background-image: url("/in/airpods-pro/images/overview/simplicity_switching_screen__fnmqcxavcsae_large_2x.jpg");
    }
}

@media only screen and (max-width: 1023px) {
    .section-experience .image-screen-switching {
        background-image: url("/in/airpods-pro/images/overview/simplicity_switching_screen__fnmqcxavcsae_medium.jpg");
    }
}

@media only screen and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1023px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1023px) and (min-resolution: 144dpi) {
    .section-experience .image-screen-switching {
        background-image: url("/in/airpods-pro/images/overview/simplicity_switching_screen__fnmqcxavcsae_medium_2x.jpg");
    }
}

@media only screen and (max-width: 734px) {
    .section-experience .image-screen-switching {
        background-image: url("/in/airpods-pro/images/overview/simplicity_switching_screen__fnmqcxavcsae_small.jpg");
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-experience .image-screen-switching {
        background-image: url("/in/airpods-pro/images/overview/simplicity_switching_screen__fnmqcxavcsae_small_2x.jpg");
    }
}

@media only screen and (max-width: 10240px) {
    .section-experience .image-screen-control {
        background-image: url("/in/airpods-pro/images/overview/simplicity_control_screen__f4889zysydm6_large.jpg");
    }
}

@media only screen and (max-width: 10240px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 10240px) and (min-resolution: 1.5dppx),
only screen and (max-width: 10240px) and (min-resolution: 144dpi) {
    .section-experience .image-screen-control {
        background-image: url("/in/airpods-pro/images/overview/simplicity_control_screen__f4889zysydm6_large_2x.jpg");
    }
}

@media only screen and (max-width: 1023px) {
    .section-experience .image-screen-control {
        background-image: url("/in/airpods-pro/images/overview/simplicity_control_screen__f4889zysydm6_medium.jpg");
    }
}

@media only screen and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1023px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1023px) and (min-resolution: 144dpi) {
    .section-experience .image-screen-control {
        background-image: url("/in/airpods-pro/images/overview/simplicity_control_screen__f4889zysydm6_medium_2x.jpg");
    }
}

@media only screen and (max-width: 734px) {
    .section-experience .image-screen-control {
        background-image: url("/in/airpods-pro/images/overview/simplicity_control_screen__f4889zysydm6_small.jpg");
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-experience .image-screen-control {
        background-image: url("/in/airpods-pro/images/overview/simplicity_control_screen__f4889zysydm6_small_2x.jpg");
    }
}

@media only screen and (max-width: 10240px) {
    .section-experience .image-screen-share {
        background-image: url("/in/airpods-pro/images/overview/simplicity_share_screen__fxzrpv0fiuqa_large.jpg");
    }
}

@media only screen and (max-width: 10240px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 10240px) and (min-resolution: 1.5dppx),
only screen and (max-width: 10240px) and (min-resolution: 144dpi) {
    .section-experience .image-screen-share {
        background-image: url("/in/airpods-pro/images/overview/simplicity_share_screen__fxzrpv0fiuqa_large_2x.jpg");
    }
}

@media only screen and (max-width: 1023px) {
    .section-experience .image-screen-share {
        background-image: url("/in/airpods-pro/images/overview/simplicity_share_screen__fxzrpv0fiuqa_medium.jpg");
    }
}

@media only screen and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1023px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1023px) and (min-resolution: 144dpi) {
    .section-experience .image-screen-share {
        background-image: url("/in/airpods-pro/images/overview/simplicity_share_screen__fxzrpv0fiuqa_medium_2x.jpg");
    }
}

@media only screen and (max-width: 734px) {
    .section-experience .image-screen-share {
        background-image: url("/in/airpods-pro/images/overview/simplicity_share_screen__fxzrpv0fiuqa_small.jpg");
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-experience .image-screen-share {
        background-image: url("/in/airpods-pro/images/overview/simplicity_share_screen__fxzrpv0fiuqa_small_2x.jpg");
    }
}

@media only screen and (max-width: 10240px) {
    .section-experience .video-container .image-pairing-endframe {
        background-image: url("/in/airpods-pro/images/overview/pairing_static__do2farpd1dkm_large.jpg");
    }
}

@media only screen and (max-width: 10240px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 10240px) and (min-resolution: 1.5dppx),
only screen and (max-width: 10240px) and (min-resolution: 144dpi) {
    .section-experience .video-container .image-pairing-endframe {
        background-image: url("/in/airpods-pro/images/overview/pairing_static__do2farpd1dkm_large_2x.jpg");
    }
}

@media only screen and (max-width: 1023px) {
    .section-experience .video-container .image-pairing-endframe {
        background-image: url("/in/airpods-pro/images/overview/pairing_static__do2farpd1dkm_medium.jpg");
    }
}

@media only screen and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1023px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1023px) and (min-resolution: 144dpi) {
    .section-experience .video-container .image-pairing-endframe {
        background-image: url("/in/airpods-pro/images/overview/pairing_static__do2farpd1dkm_medium_2x.jpg");
    }
}

@media only screen and (max-width: 734px) {
    .section-experience .video-container .image-pairing-endframe {
        background-image: url("/in/airpods-pro/images/overview/pairing_static__do2farpd1dkm_small.jpg");
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-experience .video-container .image-pairing-endframe {
        background-image: url("/in/airpods-pro/images/overview/pairing_static__do2farpd1dkm_small_2x.jpg");
    }
}

@media only screen and (max-width: 10240px) {
    .section-experience .video-container .image-pairing-startframe {
        background-image: url("/in/airpods-pro/images/overview/pairing_startframe__cvocgj2ml6i6_large.jpg");
    }
}

@media only screen and (max-width: 10240px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 10240px) and (min-resolution: 1.5dppx),
only screen and (max-width: 10240px) and (min-resolution: 144dpi) {
    .section-experience .video-container .image-pairing-startframe {
        background-image: url("/in/airpods-pro/images/overview/pairing_startframe__cvocgj2ml6i6_large_2x.jpg");
    }
}

@media only screen and (max-width: 1023px) {
    .section-experience .video-container .image-pairing-startframe {
        background-image: url("/in/airpods-pro/images/overview/pairing_startframe__cvocgj2ml6i6_medium.jpg");
    }
}

@media only screen and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1023px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1023px) and (min-resolution: 144dpi) {
    .section-experience .video-container .image-pairing-startframe {
        background-image: url("/in/airpods-pro/images/overview/pairing_startframe__cvocgj2ml6i6_medium_2x.jpg");
    }
}

@media only screen and (max-width: 734px) {
    .section-experience .video-container .image-pairing-startframe {
        background-image: url("/in/airpods-pro/images/overview/pairing_startframe__cvocgj2ml6i6_small.jpg");
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-experience .video-container .image-pairing-startframe {
        background-image: url("/in/airpods-pro/images/overview/pairing_startframe__cvocgj2ml6i6_small_2x.jpg");
    }
}

@media only screen and (max-width: 10240px) {
    .section-apple-music .section-content .image-apple-music {
        background-image: url("/in/airpods-pro/images/overview/apple_music__f60dugzmvk66_large.jpg");
    }
}

@media only screen and (max-width: 10240px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 10240px) and (min-resolution: 1.5dppx),
only screen and (max-width: 10240px) and (min-resolution: 144dpi) {
    .section-apple-music .section-content .image-apple-music {
        background-image: url("/in/airpods-pro/images/overview/apple_music__f60dugzmvk66_large_2x.jpg");
    }
}

@media only screen and (max-width: 1023px) {
    .section-apple-music .section-content .image-apple-music {
        background-image: url("/in/airpods-pro/images/overview/apple_music__f60dugzmvk66_medium.jpg");
    }
}

@media only screen and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1023px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1023px) and (min-resolution: 144dpi) {
    .section-apple-music .section-content .image-apple-music {
        background-image: url("/in/airpods-pro/images/overview/apple_music__f60dugzmvk66_medium_2x.jpg");
    }
}

@media only screen and (max-width: 734px) {
    .section-apple-music .section-content .image-apple-music {
        background-image: url("/in/airpods-pro/images/overview/apple_music__f60dugzmvk66_small.jpg");
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-apple-music .section-content .image-apple-music {
        background-image: url("/in/airpods-pro/images/overview/apple_music__f60dugzmvk66_small_2x.jpg");
    }
}

@media only screen and (max-width: 320px) {
    .section-apple-music .section-content .image-apple-music {
        background-image: url("/in/airpods-pro/images/overview/apple_music__f60dugzmvk66_small.jpg");
    }
}

@media only screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 320px) and (min-resolution: 1.5dppx),
only screen and (max-width: 320px) and (min-resolution: 144dpi) {
    .section-apple-music .section-content .image-apple-music {
        background-image: url("/in/airpods-pro/images/overview/apple_music__f60dugzmvk66_small_2x.jpg");
    }
}